.building_name{
    width: 30%;
    height: 20px;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    margin-right: 30px;
    margin-left : 10px;
}

.building_floor{
    width: 30%;
    height: 20px;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    margin-left : 10px;
}

.btn-add{
    margin-right: 10px;
}
.btn-minus{
}

.btn-x{
    border: none;
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: transparent;
    color: #522b07;
    font-size: 30px;
}