@import url('https://fonts.googleapis.com/css?family=Alatsi|Poppins&display=swap');

:root {
    --color-primary: #A099FB;
    --color-primary-dark: #6C5CEA;
    --color-light: #fff;
    --color-dark: #444;
    --color-secondary-light: #FEB6D3;
    --color-secondary: #FE79AB;
    --color-success: #01CECB;
    --color-success-light: #96E6E6;
    --color-danger: #f32c52;
    --color-danger-light: #ff6c88;
}

body {
    text-align: center;
}

.btn:hover {
    transition: all 150ms linear;
    opacity: .85;
}

.btn:active {
    transition: all 150ms linear;
    opacity: .75;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background: #fff;
    color: #4f4d4d;
}

.btn-primary.btn-layer-1_1 i {
    position: relative;
    left: 30px;
    padding: inherit;
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
    border-radius: 5px;
}

/* BUTTON ROW 3 STYLE */
.btn-primary.btn-layer-3_1 {
    box-shadow: 0 0 12px rgba(var(--color-primary-dark), .33);
}

.btn-primary.btn-layer-3_1 i {
    position: relative;
    left: 30px;
    padding: inherit;
    background: var(--color-primary-dark);
    color: var(--color-primary);
    border-radius: 5px;
}

.button-plus{
    margin-left: 10px;
}


.text_room {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    margin-bottom: 10px;
}

.text_key{
    width: 30%;
    height: 20px;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    margin-bottom: 10px;
}

.text_value{
    width: 50%;
    height: 20px;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn-primary.btn_remove i {
    position: relative;
    left: 30px;
    padding: inherit;
    background: var(--color-primary-dark);
    color: var(--color-primary);
    margin-left: 10px;
    border: none
}

.btn-send{
    margin-right: 10px;
}











